<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Kimberly_aos"
        tools:ignore="DataExtractionRules"
        tools:targetApi="31">
        <activity
            android:name=".menu.ledger.LedgerActivity"
            android:exported="false" />
        <activity
            android:name=".menu.inventory.InventoryActivity"
            android:exported="false" />
        <activity
            android:name=".menu.collect.CollectApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".menu.collect.CollectManageActivity"
            android:exported="false" />
        <activity
            android:name=".menu.collect.CollectRegiActivity"
            android:exported="false" />
        <activity
            android:name=".menu.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 로그인 화면 -->
        <activity
            android:name=".menu.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 메인 화면 -->
        <activity
            android:name=".menu.main.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 환경 설정 -->
        <activity
            android:name=".menu.setting.SettingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- 주문등록 -->
        <activity
            android:name=".menu.order.OrderRegActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>